.ninja {
  padding: 10px;
  margin: 10px;
  text-align: left;
  -webkit-box-shadow: 1px 1px 7px 2px rgba(224,224,224,1);
  -moz-box-shadow: 1px 1px 7px 2px rgba(224,224,224,1);
  box-shadow: 1px 1px 7px 2px rgba(224,224,224,1);
  background: white;
  border-radius: 1%;
  display: flex;
  width: 370px;
  min-width: 370px;
}

.image {
  display: flex;
  justify-content: center;
  height: 200px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 3px;
}

.card-content {
  flex: auto;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.ninja-read {
   align-self: flex-end;
   border-radius: 5%;
 }

.ninja button {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: #80C565;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ninja button:hover,
button:focus {
  background: #0053ba;
}

.ninja button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.ninja button:active {
  transform: scale(0.99);
}