@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background: #f5f5f5;
}

.container {
    margin: auto 100px;
}

.ninja-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.office-title {
    width: 100%;
}

@media only screen and (max-width: 1036px) {
    .container {
        margin: auto;
    }
}